<div class="account-wrapper">
  <div class="account-body">
    <h3>Get Started with a Free Account.</h3>
    <h5>Sign up in 30 seconds. No credit card required.</h5>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%#= devise_error_messages! %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation', class: 'form-control' %>
      </div>

      <div class="form-group">
        <label class="checkbox-inline">
        <input type="checkbox" class="" value="" tabindex="5"> I agree to the <a href="javascript:;" target="_blank">Terms of Service</a> &amp; <a href="javascript:;" target="_blank">Privacy Policy</a>
        </label>
      </div> <!-- /.form-group -->

      <div class="form-group">
        <%= f.submit "Sign up", class: 'btn btn-secondary btn-block btn-lg' %>
      </div>

    <% end %>


  </div>
  <%= render "devise/shared/links" %>
</div>
