<h1>Articles for Wiki <%= link_to @wiki.title, @wiki %></h1>

<div class="row">
  <% @wiki.articles.each do |article| %>
  <div class="recent-news-item clearfix"><div class="recent-news-item-date"><%= article.created_at.strftime("%d") %><span><%= article.created_at.strftime("%b") %></span></div>
    <div class="recent-news-item-description">
      <h3 class="recent-news-item-title"><%= link_to article.title, [@wiki, article] %></h3>
      <span class="recent-news-item-comments"><%= article.comments.count %> Comments</span></br>
      <span class="recent-news-item-comments">updated <%= time_ago_in_words(article.updated_at) %> ago</span>
      <div class="recent-news-item-excerpt">
        <p><%= truncate(article.information, length: 200) %> <%= link_to 'read more ->', [@wiki, article] %></p>
        </div>
    </div>
  </div> <!-- wiki-item -->
  <% end %>
  <%= link_to 'back', :back, class: 'btn btn-secondary' %>
  <%= link_to 'new article', new_wiki_article_path, class: 'btn btn-primary' %>
</div>