<div class="container">
  <div class="layout layout-stack-sm layout-main-left">
    <div class="col-sm-8 layout-main">
      <h3 class="content-title">
      <span>
        <%= @article.title %> <small><%= link_to 'edit', edit_wiki_article_path(@wiki, @article) %> or <%= link_to 'delete', [@wiki, @article], method: :delete, data: {confirm: 'really'} %> | from wiki <%= link_to @wiki.title, @wiki %></small>
      </span>
      </h3>
      <p><%= markdown @article.information %></p>

<h3>Comments</h3>
<hr>
<% @article.comments.each do |comment| %>
<div class="testimonial">
  <p class="testimonial-text">
    <%= comment.info %>
  </p>
  <div class="testimonials-arrow"></div>
  <div class="testimonial-author">
    <div class="testimonial-image"><%= image_tag "blur-sm.jpg" %>
    <div class="testimonial-author-info">
      <h5><%= comment.user.email %></h5>
      <p>commented <%= time_ago_in_words(comment.created_at) %> ago</p>
    </div>
  </div>
</div> <!-- /.testimonial -->
</div>
<% end %>


<h3>Add Comment</h3>
<hr>

<%= form_for([@wiki, @article, @comment]) do |f| %>
  <div class="form-group">
    <%= f.label :info %>
    <%= f.text_area :info, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
    </div>
  </div>
</div>