<div class="container">
  <div class="layout layout-stack-sm layout-main-left">
    <div class="layout-main">
      <h3 class="content-title">
      <span>
        <%= @article.title %> <small><%= link_to 'edit', edit_wiki_article_path(@wiki, @article) %> or <%= link_to 'delete', [@wiki, @article], method: :delete, data: {confirm: 'really'} %> | from wiki <%= link_to @wiki.title, @wiki %></small>
      </span>
      </h3>

      <div>
        <p><%= markdown @article.information %></p>
      </div>
      <br>
      <br>
      <br>


        

    <div class="container">
      <div class="layout layout-main-right layout-stack-sm">
        <div class="col-md-2 col-sm-4 layout-sidebar">
          
          <div class="nav-layout-sidebar-skip">
            <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a>
          </div>
          <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
            <li class="active">
              <a href="#profile-tab" data-toggle="tab">
              <i class="fa fa-user"></i> 
              &nbsp;&nbsp;Create Comment
            </a>
            </li>
            <li>
              <a href="#password-tab" data-toggle="tab">
              <i class="fa fa-lock"></i> 
              &nbsp;&nbsp;Create Bookmark
              </a>
            </li>
          </ul>
        </div> <!-- /.col -->
        

        <div class="col-md-9 col-sm-8 layout-main">
          <div id="settings-content" class="tab-content stacked-content">

            <div class="tab-pane fade in active" id="profile-tab">
              <h3 class="content-title"><u>Add Comment</u></h3>
              <%= form_for([@wiki, @article, @comment]) do |f| %>
                <div class="form-group">
                  <div class="share-widget clearfix">
                    <%= f.text_area :info, class: 'form-control share-widget-textarea' %>
                    <div class="share-widget-actions">
                      <div class="share-widget-types pull-left">
                        <a href="javascript:;" class="fa fa-picture-o ui-tooltip" title="Post an Image"><i></i></a>
                        <a href="javascript:;" class="fa fa-video-camera ui-tooltip" title="Upload a Video"><i></i></a>
                        <a href="javascript:;" class="fa fa-lightbulb-o ui-tooltip" title="Post an Idea"><i></i></a>
                        <a href="javascript:;" class="fa fa-question-circle ui-tooltip" title="Ask a Question"><i></i></a>
                      </div> 
                      <div class="pull-right">
                        <%= f.submit class: 'btn btn-primary btn-sm' %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div> <!-- /.tab-pane -->

            <div class="tab-pane fade" id="password-tab">
              <h3 class="content-title"><u>Add Bookmark</u></h3>
              <%= form_for([@wiki, @article, @bookmark]) do |f| %>
                <div class="form-group">
                  <div class="share-widget clearfix">
                    <%= f.text_field :title, placeholder: 'title', class: 'form-control' %>
                    <%= f.text_area :url, placeholder: 'url', class: 'form-control' %>
                    <div class="share-widget-actions">
                      <div class="share-widget-types pull-left">
                        <a href="javascript:;" class="fa fa-picture-o ui-tooltip" title="Post an Image"><i></i></a>
                        <a href="javascript:;" class="fa fa-video-camera ui-tooltip" title="Upload a Video"><i></i></a>
                        <a href="javascript:;" class="fa fa-lightbulb-o ui-tooltip" title="Post an Idea"><i></i></a>
                        <a href="javascript:;" class="fa fa-question-circle ui-tooltip" title="Ask a Question"><i></i></a>
                      </div> 
                      <div class="pull-right">
                        <%= f.submit class: 'btn btn-primary btn-sm' %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              

            </div> <!-- /.tab-pane -->
          </div> <!-- /.tab-content -->
        </div> <!-- /.col -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->

            <br><br>
          <h4 class="content-title"><u>Activity Feed</u></h4>


            <% @article.comments.each do |comment| %>

            <div class="feed-item feed-item-idea">

              <div class="feed-icon thumbnail">
                <%= image_tag(comment.user.avatar.profile.url) %>
                <!-- <i class="fa fa-lightbulb-o"></i> -->
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;"><%= comment.user.email %></a> shared an idea: <a href="javascript:;">TODO</a></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-quote-left"></i>
                    <%= comment.info %>
                  </li>
                </ul>
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a> 
                <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(comment.created_at) %> ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->
            
            <% end %>

            <% @article.bookmarks.each do |bookmark| %>
            <div class="feed-item feed-item-bookmark">

              <div class="feed-icon">
                <i class="fa fa-bookmark"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;"><%= bookmark.user.email %></a> bookmarked a page: <%= link_to bookmark.title, root_path %></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a> 
                <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(bookmark.created_at) %> ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->
            <% end %>



            <div class="feed-item feed-item-image">

              <div class="feed-icon">
                <i class="fa fa-picture-o"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;">Nikita Williams</a> posted the <strong>4 files</strong>: <a href="javascript:;">Annual Reports</a></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                <div class="thumbnail" style="width: 375px">
                  <img src="./img/mockup.png" style="width: 100%;" alt="Gallery Image">
                </div> <!-- /.thumbnail -->
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a> 
                <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->



            <div class="feed-item feed-item-file">

              <div class="feed-icon">
                <i class="fa fa-cloud-upload"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;">Nikita Williams</a> posted the <strong>4 files</strong>: <a href="javascript:;">Annual Reports</a></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-file-text-o"></i>
                    <a href="javascript:;">Annual Report 2007</a> - annual_report_2007.pdf
                  </li>

                  <li>
                    <i class="icon-li fa fa-file-text-o"></i>
                    <a href="javascript:;">Annual Report 2008</a> - annual_report_2007.pdf
                  </li>

                  <li>
                    <i class="icon-li fa fa-file-text-o"></i>
                    <a href="javascript:;">Annual Report 2009</a> - annual_report_2007.pdf
                  </li>

                  <li>
                    <i class="icon-li fa fa-file-text-o"></i>
                    <a href="javascript:;">Annual Report 2010</a> - annual_report_2007.pdf
                  </li>
                </ul>
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a> 
                <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->



            <div class="feed-item feed-item-bookmark">

              <div class="feed-icon">
                <i class="fa fa-bookmark"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;">Nikita Williams</a> bookmarked a page on Delicious: <a href="javascript:;">Jumpstart Themes</a></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
              </div> <!-- /.feed-content -->

              <div class="feed-actions">
                <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a> 
                <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->


          <% @article.comments.each do |comment| %>
            <div class="feed-item feed-item-question">

              <div class="feed-icon">
                <i class="fa fa-question"></i>
              </div> <!-- /.feed-icon -->

              <div class="feed-subject">
                <p><a href="javascript:;"><%= comment.user.email %></a> posted the question: <a href="javascript:;">Who can I call to get a new parking pass for the Rowan Building?</a></p>
              </div> <!-- /.feed-subject -->

              <div class="feed-content">
                <ul class="icons-list">
                  <li>
                    <i class="icon-li fa fa-quote-left"></i>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                  </li>
                </ul>
              </div> <!-- /.feed-content -->
            <% end %>



              <div class="feed-actions">
                <a href="javascript:;" class="pull-left"><i class="fa fa-thumbs-up"></i> 123</a> 
                <a href="javascript:;" class="pull-left"><i class="fa fa-comment-o"></i> 29</a>

                <a href="javascript:;" class="pull-right"><i class="fa fa-clock-o"></i> 2 days ago</a>
              </div> <!-- /.feed-actions -->

            </div> <!-- /.feed-item -->

            <br class="visible-xs">            
            <br class="visible-xs">
            
          </div> <!-- /.col -->
