<div class="container">
  <div class="layout layout-stack-sm layout-main-left">
    <div class="layout-main">
      <h3 class="content-title">
      <span>
        <%= @article.title %> <small><%= link_to 'edit', edit_wiki_article_path(@wiki, @article) %> or <%= link_to 'delete', [@wiki, @article], method: :delete, data: {confirm: 'really'} %> | from wiki <%= link_to @wiki.title, @wiki %></small>
      </span>
      </h3>

      <div>
        <p><%= markdown @article.information %></p>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

        

    