<%= render 'shared/usernav' %>
<div class="container">
  <section>
    <div class="row">
      <% @users.each do |user| %>
      <div class="col-md-3 text-center">
        <div class="thumbnail" style="text-align: center">
          <div class="testimonial-image">
            <%= image_tag(user.avatar.thumb.url) %>
          </div>
          <div class="caption">
            <h4><%= user.email %></h4>
            <p>online | <%= user.ideas.count %> ideas</p>
          </div>
          <div>
            <%= link_to 'invite collaborator', users_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div> <!-- col -->
      <% end %>
    </div> <!-- row -->
  </section> <!-- section -->
</div>