<h1>User Show <%= current_user.email %></h1>

<h3>Private Wikis</h3>
<hr>
<% @user.wikis.private_wikis.each do |wiki| %>
  <p><%= link_to wiki.title, wiki %> | public: <%= wiki.pubilc %></p>
<% end %>



<h3>Public Wikis</h3>
<hr>
    <% @user.wikis.public_wikis.each do |wiki| %>
      <p><%= link_to wiki.title, wiki %> | public: <%= wiki.pubilc %></p>
    <% end %>

<%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-success' %>