<h1>User Show <%= current_user.email %></h1>

<h3>Private Wikis</h3>
<hr>
<% @user.wikis.each do |wiki| %>
    <% if wiki.pubilc == false %>
      <p><%= link_to wiki.title, wiki %> | public: <%= wiki.pubilc %></p>
  <% end %>
<% end %>



<h3>Public Wikis</h3>
<hr>
    <% @user.wikis.each do |wiki| %>
    <% if wiki.pubilc == true %>
      <p><%= link_to wiki.title, wiki %> | public: <%= wiki.pubilc %></p>
  <% end %>
<% end %>

<%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-success' %>