<header class="navbar navbar-inverse" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-cog"></i>
      </button>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav noticebar navbar-left">
        <li>
          <%=  link_to user_path(current_user), class: 'navbar-brand' do %>
            <span>WAAS</span>
          <% end %>
        </li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav noticebar navbar-left">
        <li>
          <%=  link_to root_path, class: 'navbar-brand' do %>
            <span>WAAS</span>
          <% end %>
        </li>
      </ul>

      <% end %>
      

      <% if user_signed_in? %>
      <ul class="nav navbar-nav noticebar navbar-left">
        <li class="dropdown">
          <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown">
            <span>Wikis</span>
            <!-- <i class="fa fa-folder-open"></i> -->
            <span class="navbar-visible-collapsed">&nbsp;Notifications&nbsp;</span>
            <span class="badge badge-primary"><%= current_user.wikis.count %></span>
          </a>
          <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">
            <li class="nav-header">
              <div class="pull-left">
                Wikis
              </div>
              <div class="pull-right">
                <a href="javascript:;">Mark as Read</a>
              </div>
            </li>
            <% current_user.wikis.each do |wiki| %>
            <li>
              <a href="/users" class="noticebar-item">
                <span class="noticebar-item-image">
                  <i class="fa fa-lightbulb-o text-success"></i>
                </span>
                <span class="noticebar-item-body">
                  <strong class="noticebar-item-title"><%= wiki.title %></strong>
                  <span class="noticebar-item-text">5 Todos<%#= markdown truncate(wiki.information, length: 50) %></span>
                  <span class="noticebar-item-time">10 Comments</span>
                  <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(wiki.created_at) %> ago</span>
                </span>
              </a>
            </li>
            <% end %>
            <li>
              <%= link_to 'VIEW ALL WIKIS', user_path(current_user), class: 'btn btn-primary' %>
            </li>
            <li>
              <%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-secondary' %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to 'Collaborators', users_path %>
        </li>
      </ul>
      <% end %>

    </div> <!-- /.navbar-header -->

    <nav class="collapse navbar-collapse" role="navigation">   
      <ul class="nav navbar-nav navbar-right noticebar">     
      <% if user_signed_in? %>
        <li>
          <%= link_to wikis_path do %>
              <i class="fa fa-search"></i> Public Wikis
            <% end %>
        </li>
          <li>
            <%= link_to new_wiki_path do %>
              <i class="fa fa-pencil"></i> Submit Wiki
            <% end %>
          </li> 
          <li class="dropdown navbar-profile">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <%= image_tag(current_user.avatar.small.url, class: 'navbar-profile-avatar') %>
              <%#= image_tag "blur-sm.jpg", class: "navbar-profile-avatar" %>
              <span class="navbar-profile-label"><%= current_user.email %></span>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> My Wikis
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path(current_user) do %>
                  <i class="fa fa-cogs"> Profile</i>
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"> Logout</i> 
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'pricing', new_charge_path %></li>
          <li><%= link_to 'sign in', new_user_session_path %></li>
          <li><%= link_to 'register', new_user_registration_path %></li>
        <% end %>   
      </ul>
    </nav>

  </div> <!-- /.container -->

</header>