<header class="navbar navbar-inverse" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-cog"></i>
      </button>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav noticebar navbar-left">
        <li>
          <%=  link_to user_path(current_user), class: 'navbar-brand' do %>
            <i class="fa fa-cubes"></i>
          <% end %>
        </li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav noticebar navbar-left">
        <li>
          <%=  link_to root_path, class: 'navbar-brand' do %>
            <span>WAAS</span>
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-social navbar-left">   
        <li>
          <a href="javascript:;" class="ui-tooltip" title="Facebook" data-placement="bottom">
            <i class="fa fa-facebook"></i>
            <span class="navbar-social-label">Facebook</span>
          </a>
        </li>   
        <li>
          <a href="javascript:;" class="ui-tooltip" title="Twitter" data-placement="bottom">
            <i class="fa fa-twitter"></i>
            <span class="navbar-social-label">Twitter</span>
          </a>
        </li>   
        <li>
          <a href="javascript:;" class="ui-tooltip" title="Google+" data-placement="bottom">
            <i class="fa fa-google-plus"></i>
            <span class="navbar-social-label">Google+</span>
          </a>
        </li>         
      </ul>
      <% end %>
      
      <% if user_signed_in? %>
      <ul class="nav navbar-nav noticebar navbar-left">
        <li class="dropdown">
          <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown">
            <span>Ideas</span>
            <!-- <i class="fa fa-folder-open"></i> -->
            <span class="navbar-visible-collapsed">&nbsp;Notifications&nbsp;</span>
            <span class="badge badge-primary"><%= current_user.ideas.count %></span>
          </a>
          <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">
            <li class="nav-header">
              <div class="pull-left">
                Ideas
              </div>
              <div class="pull-right">
                <a href="javascript:;">Mark as Read</a>
              </div>
            </li>
            <% current_user.ideas.each do |idea| %>
            <li>
              <a href="/users" class="noticebar-item">
                <span class="noticebar-item-image">
                  <i class="fa fa-lightbulb-o text-success"></i>
                </span>
                <span class="noticebar-item-body">
                  <strong class="noticebar-item-title"><%= idea.title %></strong>
                  <span class="noticebar-item-text"><%= idea.screens.count %> Screens</span>
                  <span class="noticebar-item-time"><%= idea.comments.count %> Comments</span>
                  <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(idea.created_at) %> ago</span>
                </span>
              </a>
            </li>
            <% end %>
            <li>
              <%= link_to 'VIEW ALL ideaS', user_path(current_user), class: 'btn btn-primary' %>
            </li>
            <li>
              <%= link_to 'New idea', new_idea_path, class: 'btn btn-secondary' %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to 'Collaborations', users_path %>
        </li>
      </ul>
      <% end %>

    </div> <!-- /.navbar-header -->

    <nav class="collapse navbar-collapse" role="navigation">   
      <ul class="nav navbar-nav navbar-right noticebar">     
      <% if user_signed_in? %>
        <li>
          <%= link_to ideas_path do %>
              <i class="fa fa-search"></i> Public Ideas
            <% end %>
        </li>

        <!-- 
        <li><a data-toggle="modal" href="#myModal" class="">Support</a></li>
        <li>
          <a href="#" id="example" type="button" class="" 
            data-container="body" data-toggle="popover" data-placement="bottom"
            data-original-title="Share The Love!" 
            data-content="TODO ADD FORM TO INVITE USERS">
            <i class="fa fa-heart"></i></a>  
        </li>
      -->


        <!-- <button type="button" class="btn btn-default" data-container="body" data-toggle="   popover" data-placement="bottom" data-content="Vivamus sagittis lacus.">
          Popover on bottom
        </button> -->
          <!-- <li>
            <%#= link_to new_idea_path do %>
              <i class="fa fa-pencil"></i> Submit idea
            <%# end %>
          </li> -->
          <li class="dropdown navbar-profile">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <%= image_tag(current_user.avatar.small.url, class: 'navbar-profile-avatar') %>
              <%#= image_tag "blur-sm.jpg", class: "navbar-profile-avatar" %>
              <span class="navbar-profile-label"><%= current_user.email %></span>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> My ideas
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path(current_user) do %>
                  <i class="fa fa-cogs"> Profile</i>
                <% end %>
              </li>
              <li>
                <%= link_to new_charge_path do %>
                  <i class="fa fa-level-up"></i> Upgrade Plan
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"> Logout</i> 
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'pricing', new_charge_path %></li>
          <li><%= link_to 'sign in', new_user_session_path %></li>
          <li><%= link_to 'register', new_user_registration_path %></li>
        <% end %>   
      </ul>
    </nav>

    <!-- Modal -->
    <!-- <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
 
                <div class="modal-header">
                    <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                    <h4 class="modal-title" id="myModalLabel">Modal Heading</h4>
                </div>
                <div class="modal-body">
                    <h4>Text in a modal</h4>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary">Save changes</button>
                </div>
                </div>
 
            </div><!-- /.modal-content -->
        <!-- </div><!-- /.modal-dalog -->
      <!-- </div><!-- /.modal -->

  </div> <!-- /.container -->

</header>