<h3><%= current_user.email %></h3>
<section class="demo-section">
  <h4 class="content-title"><u>ideas</u></h4>
  <div class="row">
    <div class="col-md-3 col-sm-5">
      <ul id="myTab" class="nav nav-pills nav-stacked">
        <li class="active">
          <a href="#home-3" data-toggle="tab"><i class="fa fa-home"></i> 
          &nbsp;&nbsp;Public
          </a>
        </li>
        <li class="">
          <a href="#profile-3" data-toggle="tab"><i class="fa fa-user"></i> 
            &nbsp;&nbsp;Private
          </a>
        </li>
        <li><%= link_to 'New idea', new_idea_path, class: 'btn btn-secondary btn-block' %></li>
      </ul>
    </div> <!-- /.col -->
    <div class="col-md-8 col-sm-7">
      <div id="myTabContent" class="tab-content stacked-content">
        <div class="tab-pane fade active in" id="home-3">
          <h2>Public ideas</h2>
          <% @user.ideas.public_ideas.each do |idea| %>
            <div class="recent-news-item clearfix"><div class="recent-news-item-date"><%= idea.created_at.strftime("%d") %><span><%= idea.created_at.strftime("%b") %></span></div>
              <div class="recent-news-item-description">
                <h3 class="recent-news-item-title"><%= link_to idea.title, idea %></h3>
                <span class="recent-news-item-comments"><%#= link_to idea.screens.count, idea_screens_path(idea) %> Acticles</span></br>
                <div class="recent-news-item-excerpt">
                  <p>
                    <%= truncate(idea.body, length: 200) %> <%= link_to 'read more ->', idea %>
                  </p>
                </div>
              </div>
            </div> <!-- idea-item -->
          <% end %>
          <%= will_paginate @ideas, renderer: BootstrapPagination::Rails %>
        </div> <!-- /.tab-pane -->
        <div class="tab-pane fade" id="profile-3">
          <h2>Private ideas</h2>
          <% if current_user.role == 'guest' %>
            <h5>Please Upgrade Your Account from Guest to Premium for Private idea Access</h5>
            <%= link_to 'Upgrade', new_charge_path, class: 'btn btn-primary' %></br>
          <% end %>
          <% @user.ideas.private_ideas.each do |idea| %>
            <div class="recent-news-item clearfix"><div class="recent-news-item-date"><%= idea.created_at.strftime("%d") %><span><%= idea.created_at.strftime("%b") %></span></div>
              <div class="recent-news-item-description">
                <h3 class="recent-news-item-title"><%#= link_to idea.title, idea %></h3>
                <span class="recent-news-item-comments">TODO screen COUNT</span></br>
                <span class="recent-news-item-comments">TODO COMMENT COUNT</span>
                <div class="recent-news-item-excerpt">
                  <p>
                    <%= truncate(idea.body, length: 200) %> <%= link_to 'read more ->', idea %>
                  </p>
                  </div>
              </div>
            </div> <!-- idea-item -->
          <% end %>
        </div> <!-- /.tab-pane -->
      </div> <!-- /.tab-content -->
    </div> <!-- /.col -->
    <div class="col-md-1"></div>
  </div> <!-- /.row -->
</section> <!-- /.demo-section -->


