<div class="recent-news-item clearfix"><div class="recent-news-item-date"><%= idea.created_at.strftime("%d") %><span><%= idea.created_at.strftime("%b") %></span></div>
  <div class="recent-news-item-description">
    <h5 class="recent-news-item-title"><%= link_to idea.title, idea %></h5>
    <span class="recent-news-item-comments">TODO screen COUNT</span></br>
    <span class="recent-news-item-comments">TODO COMMENT COUNT</span>
    <div class="recent-news-item-excerpt"><%= truncate(idea.body, length: 200) %> <%= link_to 'read more ->', idea %></div>
  </div>
</div> <!-- idea-item -->