<%= form_for(@wiki) do |f| %>
  <%= render 'shared/errors', obj: @wiki %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :information %>
    <%= f.text_area :information, class: 'form-control', size: '10x15' %>
  </div>
  <% if policy(Wiki).create_private? %>
    <div class="checkbox">
      <%= f.label :pubilc, class: 'checkbox' do %>
        <%= f.check_box :pubilc %> Public Wiki
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>