<div class="container">
  <div class="layout layout-stack-sm layout-main-left">
    <div class="col-sm-8 layout-main">
      <h3 class="content-title">
        <span>
          <%= @wiki.title %> <small> <%= link_to 'edit', edit_wiki_path(@wiki) %> or 
          <%= link_to 'destroy', wiki_path(@wiki), method: :delete, data: {confirm: 'Really?'} %> number of articles <%= link_to @wiki.articles.count, wiki_articles_path(@wiki) %></small>
          
        </span>
      </h3>
      <p><%= markdown @wiki.information %></p>
      <br>
      <br>
    </div> <!-- /.col -->

    <div class="col-sm-4 layout-sidebar">
      <h4 class="content-title">
        <u>Collaborators</u>
        <%= link_to 'add collaborator', wiki_collaborators_path(@wiki), class: 'btn btn-primary'  %>
        <%= link_to 'all users', users_path, class: 'btn btn-secondary' %>
      </h4>

        <div id="accordion-help" class="panel-group accordion-simple">
          <% @wiki.users.each do |user| %>
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <div class="testimonial-image">
                    <%= image_tag(user.avatar.small.url) %>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="#<%= user.role %>"><%= user.email %></a>
                </h4>
              </div><!-- .panel-heading -->

              <div id="<%= user.role %>" class="panel-collapse collapse">
                <div class="panel-body">
                <p>
                  CHANGE PERMISSIONS
                  <select>
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                  </select>
                </p>

                <% @wiki.collaborators.each do |collaborator| %>
  
                  <%= link_to 'remove collaborator', wiki_collaborator_path(@wiki, collaborator), method: :delete, class: 'btn btn-secondary' %>
                <% end %>



                <%#= link_to 'Remove', wiki_collaborators_path(@wiki, user), method: :delete, data: {confirm: 'are you sure'}, class: 'btn btn-secondary' %> 

                </div><!-- .panel-body -->
              </div> <!-- ./panel-collapse -->
            </div><!-- .panel -->
            <% end %>
          </div> <!-- /.accordion -->
    
  
      <h4 class="content-title">
        <u>Articles</u>
      </h4>
      <div class="list-group">
        <% @wiki.articles.each do |article| %>
          <%= link_to article.title, [@wiki, article], class: 'list-group-item' %>
        <% end %></br>
        <%= link_to 'new article', new_wiki_article_path(@wiki), class: 'btn btn-block btn-primary' %>
        <%= link_to 'all articles', wiki_articles_path(@wiki), class: 'btn btn-block btn-secondary' %>
      </div>
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</div> <!-- /.container -->     



