<%= render 'shared/masthead' %>

 <div class="content">
      
  <div class="container">

    <div class="text-center">
      <h2>Start your 14-day free trial today!</h2>
      <h4>No sign-up fees. No credit card required. No long-term commitments.</h4>

      <br>

      <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default active" style="width: 125px;">
            <input type="radio" name="options" id="option1"> Monthly
          </label>
          <label class="btn btn-default" style="width: 125px;">
            <input type="radio" name="options" id="option2"> Yearly <small>(15% off)</small>
          </label>
        </div>

      <br><br><br><br>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-10 col-md-offset-1">

          <div class="row">

            <div class="col-sm-4">

              <div class="pricing-plan">

                <div class="pricing-header">
                  <h3 class="pricing-plan-title">Starter</h3>               
                  <p class="pricing-plan-label">For Individuals</p>   
                </div>

                <div class="pricing-plan-price">
                  <span class="pricing-plan-amount">$9</span> / month
                </div>

                <ul class="pricing-plan-details">           
                  <li><strong>10 GB</strong> Disk Space</li>
                  <li><strong>5</strong> Sub Domains</li>    
                  <li><strong>10</strong> MySQL Databases</li>  
                  <li><strong>1</strong> User</li>                      
                </ul>
                
                <%= form_tag charges_path do %>
                  <article>
                    <label class="amount">
                      <span>Amount: $9.00</span>
                    </label>
                  </article>

                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="A month's subscription"
                          data-amount="900"></script>
                <% end %>

              </div> <!-- /.pricing-plan -->

            </div> <!-- /.col -->


            <div class="col-sm-4">

              <div class="pricing-plan">

                <div class="pricing-header">                
                  <h3 class="pricing-plan-title">Basic</h3>                 
                  <p class="pricing-plan-label">For blogs &amp; small business</p>                  
                </div>

                <div class="pricing-plan-price">
                  <span class="pricing-plan-amount">$15</span> / month
                </div>

                <ul class="pricing-plan-details">           
                  <li><strong>20 GB</strong> Disk Space</li>
                  <li><strong>10</strong> Sub Domains</li>     
                  <li><strong>50</strong> MySQL Databases</li>  
                  <li><strong>Unlimited</strong> Users</li>                   
                </ul>

                <%= form_tag charges_path do %>
                  <article>
                    <label class="amount">
                      <span>Amount: $15.00</span>
                    </label>
                  </article>

                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="A month's subscription"
                          data-amount="1500"></script>
                <% end %>

              </div> <!-- /.pricing-plan -->

            </div> <!-- /.col -->


            <div class="col-sm-4">
              <div class="pricing-plan">

                <div class="pricing-plan-ribbon-secondary ui-tooltip" title="" data-original-title="Best Value!">
                  <i class="fa fa-star"></i>
                </div>

                <div class="pricing-header">
                  <h3 class="pricing-plan-title">Pro</h3>               
                  <p class="pricing-plan-label">For consultants</p>   
                </div>

                <div class="pricing-plan-price">
                  <span class="pricing-plan-amount">$19</span> / month
                </div>

                <ul class="pricing-plan-details">           
                  <li><span class="pricing-plan-help" title="" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." data-original-title="What's a user?"><strong>40 GB</strong> Disk Space</span></li>
                  <li><span class="pricing-plan-help" title="" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." data-original-title="What's a project?"><strong>20</strong> Sub Domains</span></li>    
                  <li><span class="pricing-plan-help" title="" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." data-original-title="What's storage for?"><strong>80</strong> MySQL Databases</span></li> 
                  <li><span class="pricing-plan-help" title="" data-content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." data-original-title="What's storage for?"><strong>Unlimited</strong> Users</span></li>                      
                </ul>
                
                <%= form_tag charges_path do %>
                  <article>
                    <label class="amount">
                      <span>Amount: $19.00</span>
                    </label>
                  </article>

                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="A month's subscription"
                          data-amount="1900"></script>
                <% end %>

              </div> <!-- /.pricing-plan -->

            </div> <!-- /.col -->

          </div> <!-- /.row -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->

      <br>

      <h4 class="text-center">
        Need More?
        <span>We offer larger plans for companies with even more contacts.</span>
        <a href="javascript:;">Learn More &nbsp;<i class="fa fa-external-link"></i></a>
      </h4>

      <br><br><br><br>

      <div class="row">
            
        <div class="col-md-12">
          <h3 class="content-title">
            <span>All Plans Come With</span>
          </h3>
        </div> <!-- /.row -->
    
      <div class="col-md-3 col-sm-6">
        <ul class="icons-list">
          <li>
            <i class="icon-li fa fa-check-square"></i> 

            Free Setup
          </li>

          <li>
            <i class="icon-li fa fa-check-square"></i> 

            SSL Protection
          </li>

          <li>
            <i class="icon-li fa fa-check-square"></i> 

            Unlimited Downloads
          </li>

          <li>
            <i class="icon-li fa fa-check-square"></i> 

            Unlimited Pushes
          </li>
        </ul>         
      </div><!-- /.col -->

      <div class="col-md-3 col-sm-6">
        <ul class="icons-list">
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Over the Air Install and Update
          </li>
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Realtime Dashboard
          </li>
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Package History Archive
          </li>
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Easy to Use Interface
          </li>
       </ul>    
      </div><!-- /.col -->

      <div class="col-md-3 col-sm-6">
        <ul class="icons-list">
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Full Featured 
          </li>
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Crash Reporting (with SDK)
          </li>
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Custom Event Logging
          </li>
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Commandline Tools
          </li>
        </ul>     
      </div><!-- /.col -->

      <div class="col-md-3 col-sm-6">
        <ul class="icons-list">
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Over the Air Install and Update
          </li>
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Realtime Dashboard
          </li>
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Package History Archive
          </li>
          
          <li>
          <i class="icon-li fa fa-check-square"></i> 

            Easy to Use Interface
          </li>
        </ul>   
      </div><!-- /.col -->
    
    </div> <!-- /.row -->
    
  </div> <!-- /.container -->

</div> <!-- /.content -->