<!DOCTYPE html>
<html>
<head>
  <title>Waas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WAAS</a>
        <ul class="nav navbar-nav">
          <li><%= link_to 'wikis', wikis_path %></li>
          <li><%= link_to 'new', new_wiki_path %></li>
          <% if @user == current_user || signed_in? %>
            <li><%#= link_to 'user', user_path(@user) %></li>
            <li><%= link_to 'logout', destroy_user_session_path(@user), method: :delete %></li>
          <% else %>
            <li><%= link_to 'sign in', new_user_session_path %></li>
            <li><%= link_to 'register', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  
  <%= render 'shared/flash' %>

  <div class="container">
      
    <%= yield %>

  </div>

</body>
</html>
