<!DOCTYPE html>
<html>
<head>
  <title>Waas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'https://js.stripe.com/v2/' %>
  <%= csrf_meta_tags %>
  <%#= tag :meta, :name => 'stripe_key', :content => ENV["PUBLISHABLE_KEY"] %>
</head>
<body>

  <%= render 'shared/nav' %>
  <%#= render 'shared/masthead' %>
  <%= render 'shared/mainnav' %>

  <div class="container">
    <%= render 'shared/flash' %>
      
    <%= yield %>

  </div>

</body>
</html>
