<!DOCTYPE html>
<html>
<head>
  <title>Waas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= google_webfonts_link_tag :oswald => [300, 400, 700] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'https://js.stripe.com/v2/' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%#= tag :meta, :name => 'stripe_key', :content => ENV["PUBLISHABLE_KEY"] %>
</head>
<body>
  
  <%= render 'shared/nav' %>
  <%#= render 'shared/masthead' %>
  
  <div class="wrapper">

    <%= render 'shared/flash' %>
    
    <%= yield %>

  </div>
  <%#= render 'shared/footer' %>
  <%= render 'shared/copyright' %>

</body>
</html>
